.threeColumns_container {
    background-image: url("../../assets/3ColumnsBackground.png");
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 24rem;
    font-weight: 300;
    color: $brown; 

    .column {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    

      h1 {
        font-size: 5.6rem;
        margin: 2.9rem 0 0.6rem 0;
        
      }
      h2 {
        font-size: 1.1rem;
        margin-bottom: 1.8rem;
      }
      p {
        font-size: 1rem;
        margin-bottom: 5.4rem;
        line-height: 1.2rem;
        width: 20.9rem;

      }
    }
  }