.OrganizationsList_container {
    // .articleP {
    //   text-align: center;
    //   width: 30%;
    //   margin: 2rem auto;
    //   font-size: 1rem;
    //   line-height: 1.4rem;
    // }
    .whoWeHelp {
      text-align: center;
      h1 {
        font-size: 1.6rem;
        margin: 4rem 0 1.5rem 0;
      }
      img {
        width: 11rem;
      }
    }
    .changeOrganizations {
      text-align: center;
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
      font-size: 1.5rem;
      border: none;
      text-decoration: none;
      width: 13rem;
      height: 5rem;
      font-weight: lighter;
      background-color: white;
      margin-right: 1.5rem;
      color: #3C3C3C;
      padding: 0.3rem 0.5rem;
      &:hover {
        border: 1px solid $black;
        cursor: pointer;
      }
    }
    }
    .description { 
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    p {
      width: 40rem;
      height: 5.8rem;
      margin-top: 4.3rem;
      margin-bottom: 4.1rem;
      font-size: 1.4rem;
      line-height: 30px;
    } 
  }
  .list-group-item {
    font-family: $merriweather;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #707070;
    padding-bottom: 1.9rem;
    padding-top: 2.1rem;
    h2 {
      font-size: 1.6rem;
      margin-bottom: 0.3rem;
      margin-top: 1rem;
      font-weight: lighter;
    }
    h3 {
      font-size: 1.1rem;
      font-weight: lighter;
    }
    p {
      margin-bottom: 1rem;
      font-size: 1.1rem;
      font-weight: lighter;
    }

    }
    .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .page-item {
      text-align: center;
      margin-right: 1.5rem;
      margin-top: 3.9rem;
     
      padding: 0.8rem 0.9rem;
      &:hover {
        border: 1px solid $black;
        cursor: pointer;
      }
      a {
        text-decoration: none;
        color: $black;
      }
    }
    
  }
  

  
  // First div info
  
  .firstDivInfo>div {
    font-size: 0.8rem;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #707070;
    h1 {
      font-size: 1rem;
      margin-bottom: 0.3rem;
      margin-top: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }
  #withoutBorder {
      border-bottom: none;
  }
  .pageNumber {
    text-align: center;
    span {
      margin: 1rem 1rem;
      cursor: pointer;
    }
  }
  
  // Second Div Info
  
  .secondDivInfo>div {
    font-size: 0.8rem;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #707070;
    h1 {
      font-size: 1rem;
      margin-bottom: 0.3rem;
      margin-top: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }
  
  // Third Div Info
  
  .thirdDivInfo>div {
    font-size: 0.8rem;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #707070;
    h1 {
      font-size: 1rem;
      margin-bottom: 0.3rem;
      margin-top: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }
  
  
  
  