.aboutUs_container {
    display: flex;
    text-align: center;
    justify-content: center;

    .leftSideAboutUs {
      width: 59.9rem;
      height: 58.4rem;
      background-color: $white;
      h1 {
        font-size: 2.4rem;
        margin: 11.6rem 0 2.5rem 0;
      }
      img {
        margin-bottom: 3.4rem;
      }
      p {
        width: 60%;
        font-size: 1.9rem;
        margin: 0 auto;
        line-height: 3.4rem;
      }
      .signatureImage {
        width: 13rem;
        margin: 2.5rem 9.5rem 13.1rem 37.2rem;
      }
    }
    .rightSideAboutUs {
      background-image: url("../../assets/People.jpg");
      width: 59.9rem;
      height: 58.4rem;
      background-size: cover;
    }
  }