.footer_container {
    height: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
     text-align: center;
     justify-content: flex-end;
     margin-left: 55.4rem;
    }
    .socialmedia {
      display: flex;
    

      .facebook {
        margin-left: 36.7rem;
        margin-right:1.9rem;
      }
      .instagram {
        margin-right:8.9rem;
        margin-right: 1.9rem;
      }
    }
}