.Register_container {
    padding-top: 2.3rem;
    padding-right: 8.8rem;

    .Register__main {
      padding-top: 5rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: $black;
  
      img {
        margin-bottom: 2.75rem;
        height: 2.1rem;
      }
  
      .Register__logIn {
        font-size: 2.5rem;
        margin-bottom: 2.4rem;
      }
      .Register__form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .Register__data {
          margin-bottom: 3rem;
          background: $white;
          display: flex;
          flex-direction: column;
          width: 24rem;
          height: 21rem;
          justify-content: center;
          padding: 0 5rem;
          .Register__input {
            border: none;
            border-bottom: solid 1px $grey;
            background: $white;
            padding: 0.3rem 0;
          }
          label {
            display: flex;
            flex-direction: column;
            font-weight: 600;
            text-align: left;
            margin-bottom: 1.5rem;
            &:last-of-type {
              margin-bottom: 0;
            }
          }
          input {
            border: none;
            border-bottom: 1px solid $black;
            background-color: $white;
            height: 2.5rem;
            outline: 0;
          }
        }
        .Register__btns {
          display: flex;
          width: 30rem;
          justify-content: space-between;
          input.btn {
            border: solid 1px black;
          }
          .btn {
            font-size: 1.1rem;
            border: none;
            flex-direction: column;
            font-weight: lighter;
            background-color: white;
            padding: 0.55rem 0.75rem;
            text-decoration: none;
            color: black;
            &:visited {
              color: black;
            }
          }
        }
      }
    }
  }
  .Register_error {
    border: none;
    background: $white;
    border: none;
    padding: 0.3rem 0;
    border-bottom: solid 1px red;
  }
  .Register_errorText {
    color: red;
    font-size: 0.8rem;
    padding-top: 0.2rem;
    height: 1.1rem;
  }
  