.contact_container {
    display: flex;
    margin: 0 auto;
    height: 1002px;
    .leftSideImage {
      width: 65%;
      opacity: 20%;
      background-image: url("../../assets/Background-Contact-Form.jpg");
      background-size: cover;
    }
    .contact_name {
      display: flex;
      justify-content: space-between;
      margin-top: 1.2rem;
    }
    .rightSideForm {
      width: 35%;
      text-align: center;
      h1 {
        font-size: 2.4rem;
        margin: 12.5rem 0 2.4rem 0;
      }
      img {
        width: 15.8rem;
        height: 2.1rem;
        margin-bottom: 2rem;
        align-items: center;
      }
    }
    form {
      text-align: left;
      margin-left: 6rem;
      label {
        font-size: 1rem;
        display: inline-grid;
        margin: 0 1rem 1rem 0;
      }
      input {
        border: none;
        border-bottom: 0.06rem solid $black;
        margin-top: 1rem;
        outline: 0;
      }
      textarea {
        color: $black;
        opacity: 20%;
        border: none;
        border-bottom: 1px solid $black;
        margin-top: 1rem;
        outline: 0;
        resize: none;
        font-size: 1rem;
        width: 33rem;
        height: 6.1rem;
      }
      .buttonSubmit {
        display: flex;
        justify-content: flex-end;
        .buttonFormSubmit {
          font-size: 1.1rem;
          padding: 0.8rem 3.2rem;
          background-color: white;
          border: 1px solid $black;
          color: $black;
          cursor: pointer;
          margin-top: 3.1rem;
          margin-right: 2.3rem;
      }     
    }
    }
  }
  .contact_errorText {
    color: red;
    font-size: 0.8rem;
    padding-top: 0.2rem;
    height: 1.1rem;
  }
  .contact__submitInfo {
    color: green;
    width:15px;
    font-weight: bolder;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    width: 20rem;
    height: 3rem;
    align-self: center;
  }