.header_container {
  padding-top: 2.3rem;
  padding-right:8.9rem;

.header_nav1 {
    text-align: right;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: $black;
    a {
      margin-right: 1.5rem;
      text-decoration: none;
      padding: 0.3rem 0.5rem;
      font-weight: lighter;
      &:visited {
        text-decoration: none;
        color: #737373;
      }
      &:hover {
        border: 1px solid $yellow;
      }
    }
    span {
      margin-right: 4rem;
    }
    .greatings_logout_buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .btn {
        background-color: white;
        border: none;
        color: $black;
        text-decoration: none;
        padding: 0.3rem 0.5rem;
        font-weight: lighter;
      }
      .greatings_words {
        margin-right: 0.9rem;
      }
    }
  }

  .header_nav2 {
    text-align: left;
    margin-top: 1rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      margin-right: 1.5rem;
      text-decoration: none;
      font-weight: lighter;
      color: $black;
      padding: 0.3rem 0.5rem;
      &:hover {
        border: 1px solid $black;
        cursor: pointer;
      }
    }
  }
}

  .introduction {
    text-align: center;
    margin: 19rem 1rem 0 0;
  
    h1 {
      font-size: 2rem;
      color: #3C3C3C;
      line-height: 3.4rem;
    } 
    img {
      margin: 2rem 0 4rem 0;
      width: 15rem;
    }
    .twoButtons {
        display: flex;
        justify-content: space-around;
        
       button {
        height: 7.5rem;
        width: 19.4rem;
        background-color: $white;
        font-size: 2.3rem;
        font-weight: lighter;
        color: $black;
       }
       .firstButton {
        margin-left: 6.2rem;
       }
       .secondButton {
        margin-right: 6.2rem;
       }
    }
}
  
  