.StepsToDo_container {
  background-image: url("../../assets/Background-Form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 5rem;
  background-position-x:-14rem;
  height: 66.3rem;
  width: 118.7rem;
  
  }
 .buttonsBackNext {
  display: flex;
  width:300px;
  align-items: flex-end;
  justify-content:space-evenly;
  margin-left: 8.8rem;

  button {
    align-self: flex-end;
    
    padding: 1rem 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    border: 1px solid black;
    font-weight: lighter;
    cursor: pointer;
    background-color: #EFEDE9;
  }
}