.thirdStep_container {

    .importantInformation {
        background-color: $yellow;
        height: 11.1rem;
        h1 {
          font-size: 2.2rem;
          font-weight: bold;
          padding: 3rem 0 0 8.8rem;
        }
        p {
          padding: 1rem 0 2rem 8.8rem;
          font-size: 1.4rem;
          color: $black;
        }
      }
      .step {
        padding: 1rem 0 8rem 8.8rem;
       
        p {
          margin: 1rem 0 4.3rem 0;
          font-weight: lighter;
          font-size: 1.5rem;
        }
        h1 {
          font-size: 2.25rem;
          font-weight: bold;
          margin-bottom: 2.3rem;
        }
        select {
            font-size: 1.5rem;
            width: 15rem;
             text-align: center;
             border: 1px solid black;
             padding: 0.5rem 1rem;
             background-color: #EFEDE9;
           }
           textarea {
            background-color: #EFEDE9;
            resize: none;
            width: 22rem;
           }
      
           h5 {
            font-size: 1.5rem;
            color: black;
            font-weight: bold;
            padding-bottom: 1.2rem;
            padding-top: 1.2rem;
           }
           .checkbox_list {
            display: flex;
            flex-wrap: wrap;
            width: 28rem;
          
        ul {
          padding: 0;
          margin: 0;
          clear: both;
        }
        
        li {
          list-style-type: none;
          list-style-position: outside;
          padding: 10px;
          float: left;
        }
        
        input[type="checkbox"]:not(:checked), 
        input[type="checkbox"]:checked {
          position: absolute;
          left: -9999%;
        }
        
        input[type="checkbox"] + label {
          display: inline-block;
          padding: 10px;
          cursor: pointer;
          border: 1px solid black;
          color: black;
          margin-bottom: 10px;
        }
        input[type="checkbox"]:checked + label {
          border: 1px solid $black;
          background-color: $yellow;
        }
        label {
          font-size: 1.2rem;
          color: $black;
        }
        }
      
           .textareaToFillIn {
            display: flex;
            flex-direction: column;
           }
    }
}



    

