.fourthStep_container {

    .importantInformation {
        background-color: $yellow;
        height: 11.1rem;
        h1 {
          font-size: 2.2rem;
          font-weight: bold;
          padding: 3rem 0 0 8.8rem;
        }
        p {
          padding: 1rem 0 2rem 8.8rem;
          font-size: 1.4rem;
          color: $black;
        }
      }
      .step {
        padding: 1rem 0 8rem 8.8rem;
       
        p {
          margin: 1rem 0 4.3rem 0;
          font-weight: lighter;
          font-size: 1.5rem;
        }
        h1 {
          font-size: 2.25rem;
          font-weight: bold;
          margin-bottom: 2.3rem;
        }
        .pickupAddress {
            display: flex;
            justify-content: space-between;
            width: 58.5rem;
      
            h2 {
              margin: 0.5rem 1rem 2rem 0;
              text-align: left;
              font-weight: bold;
              font-size: 1.5rem;
            }
            .column {
              display: grid;
              justify-content: flex-start;
              grid-template-columns: auto minmax(auto, 16rem);
              gap: 1rem 0.5rem;
            
              label {
              font-size: 1.5rem;
              }
              input {
                margin-bottom: 1rem;
                background-color: #EFEDE9;
                height: 2.5rem;
                align-items: right;
              }
              textarea {
                resize: none;
                background-color: #EFEDE9;
                height: 2.5rem;
              }
            }
          }
    }
}



// .pickupAddress {
//       display: flex;
//       justify-content: space-between;
//       width: 58.5rem;

//       .column {
//       display: grid;
//       justify-content: flex-start;
//       grid-template-columns: auto minmax(auto, 16rem);
//       gap: 1rem 0.5rem;
//       }
        
//         label {
//           font-size: 1.5rem;
//         }
//         p {
//           margin-right: 1rem;
//           outline: 0;
//         }
//         h2 {
//           margin: 0.5rem 1rem 2rem 0;
//           text-align: left;
//           font-weight: bold;
//           font-size: 1.5rem;
//         }
//         input {
//           margin-bottom: 1rem;
//           background-color: #EFEDE9;
//           height: 2.5rem;
//           align-items: right;
//         }
//         textarea {
//           resize: none;
//           background-color: #EFEDE9;
//           height: 2.5rem;
//         }
//     }


  