.success_container {
    padding-top: 25rem;
    font-weight: lighter;
    margin-left: 18.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37.5rem;
    h1 {
      font-size:2.5rem;
      text-align: center;
      line-height: 3.7rem;
      padding-bottom: 3rem;
    }
}
  